<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make Careers</title>
</head>

<body>

    <h1>Make Careers Platform</h1>
    <img src="../static/head.jpg" alt="banner" height="320" width="100%">

    <h2>About Make Careers</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga quo eum unde quos accusamus doloribus quisquam,
        rerum, optio fugit deleniti ad ipsa, aliquid suscipit eaque eveniet similique reiciendis reprehenderit porro
        autem tenetur nemo vitae alias. Culpa, nostrum temporibus? Non veniam excepturi praesentium nobis rem illo
        voluptates sint amet porro optio.</p>

    <h2>Open Positions</h2>
    <h2>TODO show the jobs here</h2>
    <button>Contact Us</button>
    
</body>

</html>