<!DOCTYPE html>
<html>

<head>
    <title>Make Careers</title>
    {% include 'bootstrap.html' %}
</head>

<body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}

    <div class="container">

        <h1 class="text-center mt-2 mb-4">Make Careers Platform</h1>

        <div id="about" class="row" style="margin-bottom:32px">
            <div class="col-md-6">
                <p class="lead">
                    Welcome to our Careers page! We are delighted that you are considering joining our team. At Make
                    Careers, we are passionate about creating a work environment that values creativity, innovation, and
                    inclusivity. Our team is composed of individuals from diverse backgrounds and experiences who bring
                    unique perspectives and skills to our organization.As we continue to grow, we are constantly seeking
                    talented and motivated individuals who share our values and are committed to making a positive
                    impact on the world. We offer a variety of exciting career opportunities across multiple
                    departments, including marketing, finance, engineering, human resources, and more.
                </p>
            </div>
            <div class="d-none d-md-block col-md-6">
                <img src="/static/people.jpeg" style="height:320px;border-radius:4px;">
            </div>
        </div>
        <h2 id="jobList" class="text-center mt-2 mb-4">Open Positions</h2>
        <div>
            {% for job in jobs %}
            {% include 'jobItem.html' %}
            {% endfor %}
        </div>
        <div class="text-center">
            <a class="btn btn-primary btn-lg"
                href="mailto:suresh475330@gmail.com?subject=Question%20about%20Job%20Opernings&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AMy%20questions%3A%20%3Center%20question%20here%3E%0D%0A">Contact
                Us</a>
        </div>
    </div>
    {% include 'footer.html' %}
</body>

</html>